# Import Libraries

In [8]:
import boto3, os
import botocore
import pandas as pd
import re

# Read in credentials file
This is a .txt file where I copy the access keys that are provided for me in the Account Details part of AWS classroom. This has not be included in our github repo in order to keep my keys private. The file is read in and the proper information is parsed out and used to connect to AWS Command Line Interface (CLI).


![my_image](images/Screen Shot 2020-04-14 at 2.04.12 PM.png)

In [9]:
key_list = []

with open('access_key', 'r') as file:
    for line in file:
        key_list.append(line.strip("\n"))

Parse relevant info

In [10]:
access_key_id = re.search('.*=(.*)', key_list[1]).group(1)
secret_access_key = re.search('.*=(.*)', key_list[2]).group(1)
session_token = re.search('.*=(.*=)', key_list[3]).group(1)

# Initialize boto3 client and resource with proper credentials

In [11]:
s3 = boto3.client('s3',
                aws_access_key_id=access_key_id,
                aws_secret_access_key=secret_access_key,
                aws_session_token=session_token,)
s3_resource = boto3.resource('s3',
                aws_access_key_id=access_key_id,
                aws_secret_access_key=secret_access_key,
                aws_session_token=session_token,)

# Create our S3 Bucket
This has been commented out because it only needed to be done once and will throw an error because all S3 buckets must have a unique name even accross users.

In [12]:
def create_bucket(bucket):
    import logging

    try:
        s3.create_bucket(Bucket=bucket)
    except botocore.exceptions.ClientError as e:
        logging.error(e)
        return 'Bucket ' + bucket + ' could not be created.'
    return 'Created or already exists ' + bucket + ' bucket.'

In [13]:
create_bucket('taxinyc')

'Created or already exists taxinyc bucket.'

Check that Bucket was Created

In [14]:
response = s3.list_buckets()
response['Buckets']

[{'Name': 'taxinyc',
  'CreationDate': datetime.datetime(2020, 4, 26, 22, 46, 59, tzinfo=tzutc())},
 {'Name': 'unstructured',
  'CreationDate': datetime.datetime(2020, 4, 22, 15, 40, 28, tzinfo=tzutc())}]

# List Bucket Contents (files) in Registry of Open Data on AWS

In [15]:
def list_bucket_contents(bucket, match='', size_mb=0):
    bucket_resource = s3_resource.Bucket(bucket)
    total_size_gb = 0
    total_files = 0
    match_size_gb = 0
    match_files = 0
    for key in bucket_resource.objects.all():
        key_size_mb = key.size/1024/1024
        total_size_gb += key_size_mb
        total_files += 1
        list_check = False
        if not match:
            list_check = True
        elif match in key.key:
            list_check = True
        if list_check and not size_mb:
            match_files += 1
            match_size_gb += key_size_mb
            print(f'{key.key} ({key_size_mb:3.0f}MB)')
        elif list_check and key_size_mb <= size_mb:
            match_files += 1
            match_size_gb += key_size_mb
            print(f'{key.key} ({key_size_mb:3.0f}MB)')

    if match:
        print(f'Matched file size is {match_size_gb/1024:3.1f}GB with {match_files} files')            
    
    print(f'Bucket {bucket} total size is {total_size_gb/1024:3.1f}GB with {total_files} files')

In [16]:
list_bucket_contents(bucket='nyc-tlc', match='2019')

trip data/fhv_tripdata_2019-01.csv (1242MB)
trip data/fhv_tripdata_2019-02.csv ( 93MB)
trip data/fhv_tripdata_2019-03.csv ( 72MB)
trip data/fhv_tripdata_2019-04.csv (104MB)
trip data/fhv_tripdata_2019-05.csv (111MB)
trip data/fhv_tripdata_2019-06.csv (107MB)
trip data/fhv_tripdata_2019-07.csv (103MB)
trip data/fhv_tripdata_2019-08.csv ( 99MB)
trip data/fhv_tripdata_2019-09.csv ( 56MB)
trip data/fhv_tripdata_2019-10.csv ( 98MB)
trip data/fhv_tripdata_2019-11.csv ( 88MB)
trip data/fhv_tripdata_2019-12.csv ( 95MB)
trip data/fhvhv_tripdata_2019-02.csv (1221MB)
trip data/fhvhv_tripdata_2019-03.csv (1444MB)
trip data/fhvhv_tripdata_2019-04.csv (1315MB)
trip data/fhvhv_tripdata_2019-05.csv (1351MB)
trip data/fhvhv_tripdata_2019-06.csv (1270MB)
trip data/fhvhv_tripdata_2019-07.csv (1228MB)
trip data/fhvhv_tripdata_2019-08.csv (1217MB)
trip data/fhvhv_tripdata_2019-09.csv (1214MB)
trip data/fhvhv_tripdata_2019-10.csv (1280MB)
trip data/fhvhv_tripdata_2019-11.csv (1308MB)
trip data/fhvhv_tripdata_2019-12.csv (1344MB)
trip data/green_tripdata_2019-01.csv ( 55MB)
trip data/green_tripdata_2019-02.csv ( 50MB)
trip data/green_tripdata_2019-03.csv ( 53MB)
trip data/green_tripdata_2019-04.csv ( 45MB)
trip data/green_tripdata_2019-05.csv ( 44MB)
trip data/green_tripdata_2019-06.csv ( 41MB)
trip data/green_tripdata_2019-07.csv ( 41MB)
trip data/green_tripdata_2019-08.csv ( 39MB)
trip data/green_tripdata_2019-09.csv ( 39MB)
trip data/green_tripdata_2019-10.csv ( 42MB)
trip data/green_tripdata_2019-11.csv ( 39MB)
trip data/green_tripdata_2019-12.csv ( 39MB)
trip data/yellow_tripdata_2019-01.csv (655MB)
trip data/yellow_tripdata_2019-02.csv (620MB)
trip data/yellow_tripdata_2019-03.csv (693MB)
trip data/yellow_tripdata_2019-04.csv (657MB)
trip data/yellow_tripdata_2019-05.csv (669MB)
trip data/yellow_tripdata_2019-06.csv (614MB)
trip data/yellow_tripdata_2019-07.csv (557MB)
trip data/yellow_tripdata_2019-08.csv (536MB)
trip data/yellow_tripdata_2019-09.csv (581MB)
trip data/yellow_tripdata_2019-10.csv (638MB)
trip data/yellow_tripdata_2019-11.csv (608MB)
trip data/yellow_tripdata_2019-12.csv (610MB)
Matched file size is 23.9GB with 47 files
Bucket nyc-tlc total size is 297.1GB with 298 files

![my_image2](images/Screen Shot 2020-04-21 at 1.13.37 PM.png)

Total cost of storing all of the 2019 data:

In [17]:
23.9 * 0.023 # $0.54

0.5497

# Create function for saving a list of all the bucket names

In [18]:
def match_bucket_list(bucket, match='', size_mb=0):
    key_list = []
    bucket_resource = s3_resource.Bucket(bucket)
    
    for key in bucket_resource.objects.all():
        key_size_mb = key.size/1024/1024
        list_check = False
        if not match:
            list_check = True
        elif match in key.key:
            list_check = True
        if list_check and not size_mb:
            key_list.append(key.key)
        elif list_check and key_size_mb <= size_mb:
            key_list.append(key.key)
    
    return key_list

In [19]:
key_list = match_bucket_list(bucket='nyc-tlc', match='2019')

# Seperate list into yellow and green taxi data

In [20]:
green_list = []
yellow_list = []

for i in key_list:
    if 'yellow' in i:
        yellow_list.append(i)
    if 'green' in i:
        green_list.append(i)

In [21]:
yellow_list

['trip data/yellow_tripdata_2019-01.csv',
 'trip data/yellow_tripdata_2019-02.csv',
 'trip data/yellow_tripdata_2019-03.csv',
 'trip data/yellow_tripdata_2019-04.csv',
 'trip data/yellow_tripdata_2019-05.csv',
 'trip data/yellow_tripdata_2019-06.csv',
 'trip data/yellow_tripdata_2019-07.csv',
 'trip data/yellow_tripdata_2019-08.csv',
 'trip data/yellow_tripdata_2019-09.csv',
 'trip data/yellow_tripdata_2019-10.csv',
 'trip data/yellow_tripdata_2019-11.csv',
 'trip data/yellow_tripdata_2019-12.csv']

In [22]:
green_list

['trip data/green_tripdata_2019-01.csv',
 'trip data/green_tripdata_2019-02.csv',
 'trip data/green_tripdata_2019-03.csv',
 'trip data/green_tripdata_2019-04.csv',
 'trip data/green_tripdata_2019-05.csv',
 'trip data/green_tripdata_2019-06.csv',
 'trip data/green_tripdata_2019-07.csv',
 'trip data/green_tripdata_2019-08.csv',
 'trip data/green_tripdata_2019-09.csv',
 'trip data/green_tripdata_2019-10.csv',
 'trip data/green_tripdata_2019-11.csv',
 'trip data/green_tripdata_2019-12.csv']

# Create functions for copying buckets

In [24]:
def key_exists(bucket, key):
    try:
        s3_resource.Object(bucket, key).load()
    except botocore.exceptions.ClientError as e:
        if e.response['Error']['Code'] == "404":
            # The key does not exist.
            return(False)
        else:
            # Something else has gone wrong.
            raise
    else:
        # The key does exist.
        return(True)

def copy_among_buckets(from_bucket, from_key, to_bucket, to_key):
    if not key_exists(to_bucket, to_key):
        s3_resource.meta.client.copy({'Bucket': from_bucket, 'Key': from_key}, 
                                        to_bucket, to_key)        
        print(f'File {to_key} saved to S3 bucket {to_bucket}')
    else:
        print(f'File {to_key} already exists in S3 bucket {to_bucket}')

In [25]:
for i in yellow_list:
    to_bucket_name = i.replace('trip data/', '')
    copy_among_buckets(from_bucket='nyc-tlc', from_key=i,
                       to_bucket='taxinyc', to_key="yellow2019/" + to_bucket_name)

File yellow2019/yellow_tripdata_2019-01.csv saved to S3 bucket taxinyc
File yellow2019/yellow_tripdata_2019-02.csv saved to S3 bucket taxinyc
File yellow2019/yellow_tripdata_2019-03.csv saved to S3 bucket taxinyc
File yellow2019/yellow_tripdata_2019-04.csv saved to S3 bucket taxinyc
File yellow2019/yellow_tripdata_2019-05.csv saved to S3 bucket taxinyc
File yellow2019/yellow_tripdata_2019-06.csv saved to S3 bucket taxinyc
File yellow2019/yellow_tripdata_2019-07.csv saved to S3 bucket taxinyc
File yellow2019/yellow_tripdata_2019-08.csv saved to S3 bucket taxinyc
File yellow2019/yellow_tripdata_2019-09.csv saved to S3 bucket taxinyc
File yellow2019/yellow_tripdata_2019-10.csv saved to S3 bucket taxinyc
File yellow2019/yellow_tripdata_2019-11.csv saved to S3 bucket taxinyc
File yellow2019/yellow_tripdata_2019-12.csv saved to S3 bucket taxinyc

In [26]:
for i in green_list:
    to_bucket_name = i.replace('trip data/', '')
    copy_among_buckets(from_bucket='nyc-tlc', from_key=i,
                       to_bucket='taxinyc', to_key="green2019/" + to_bucket_name)

File green2019/green_tripdata_2019-01.csv saved to S3 bucket taxinyc
File green2019/green_tripdata_2019-02.csv saved to S3 bucket taxinyc
File green2019/green_tripdata_2019-03.csv saved to S3 bucket taxinyc
File green2019/green_tripdata_2019-04.csv saved to S3 bucket taxinyc
File green2019/green_tripdata_2019-05.csv saved to S3 bucket taxinyc
File green2019/green_tripdata_2019-06.csv saved to S3 bucket taxinyc
File green2019/green_tripdata_2019-07.csv saved to S3 bucket taxinyc
File green2019/green_tripdata_2019-08.csv saved to S3 bucket taxinyc
File green2019/green_tripdata_2019-09.csv saved to S3 bucket taxinyc
File green2019/green_tripdata_2019-10.csv saved to S3 bucket taxinyc
File green2019/green_tripdata_2019-11.csv saved to S3 bucket taxinyc
File green2019/green_tripdata_2019-12.csv saved to S3 bucket taxinyc

In [28]:
def preview_csv_dataset(bucket, key, rows=10):
    data_source = {
            'Bucket': bucket,
            'Key': key
        }
    # Generate the URL to get Key from Bucket
    url = s3.generate_presigned_url(
        ClientMethod = 'get_object',
        Params = data_source
    )

    data = pd.read_csv(url, nrows=rows)
    return data

In [34]:
green01 = preview_csv_dataset(bucket='taxinyc', key='green2019/green_tripdata_2019-01.csv')
green02 = preview_csv_dataset(bucket='taxinyc', key='green2019/green_tripdata_2019-02.csv')
green03 = preview_csv_dataset(bucket='taxinyc', key='green2019/green_tripdata_2019-03.csv')
green04 = preview_csv_dataset(bucket='taxinyc', key='green2019/green_tripdata_2019-04.csv')
green05 = preview_csv_dataset(bucket='taxinyc', key='green2019/green_tripdata_2019-05.csv')
green06 = preview_csv_dataset(bucket='taxinyc', key='green2019/green_tripdata_2019-06.csv')
green07 = preview_csv_dataset(bucket='taxinyc', key='green2019/green_tripdata_2019-07.csv')
green08 = preview_csv_dataset(bucket='taxinyc', key='green2019/green_tripdata_2019-08.csv')
green09 = preview_csv_dataset(bucket='taxinyc', key='green2019/green_tripdata_2019-09.csv')
green10 = preview_csv_dataset(bucket='taxinyc', key='green2019/green_tripdata_2019-10.csv')
green11 = preview_csv_dataset(bucket='taxinyc', key='green2019/green_tripdata_2019-11.csv')
green12 = preview_csv_dataset(bucket='taxinyc', key='green2019/green_tripdata_2019-12.csv')

In [36]:
green = green01.append(green02)
green= green.append(green03)
green= green.append(green04)
green= green.append(green05)
green= green.append(green06)
green= green.append(green07)
green= green.append(green08)
green= green.append(green09)
green= green.append(green10)
green= green.append(green11)
green= green.append(green12)

In [38]:
green.head()

,VendorID,lpep_pickup_datetime,lpep_dropoff_datetime,store_and_fwd_flag,RatecodeID,PULocationID,DOLocationID,passenger_count,trip_distance,fare_amount,extra,mta_tax,tip_amount,tolls_amount,ehail_fee,improvement_surcharge,total_amount,payment_type,trip_type,congestion_surcharge
0,2,2018-12-21 15:17:29,2018-12-21 15:18:57,N,1,264,264,5,0.00,3.0,0.5,0.5,0.00,0.0,NaN,0.3,4.30,2,1,NaN
1,2,2019-01-01 00:10:16,2019-01-01 00:16:32,N,1,97,49,2,0.86,6.0,0.5,0.5,0.00,0.0,NaN,0.3,7.30,2,1,NaN
2,2,2019-01-01 00:27:11,2019-01-01 00:31:38,N,1,49,189,2,0.66,4.5,0.5,0.5,0.00,0.0,NaN,0.3,5.80,1,1,NaN
3,2,2019-01-01 00:46:20,2019-01-01 01:04:54,N,1,189,17,2,2.68,13.5,0.5,0.5,2.96,0.0,NaN,0.3,19.71,1,1,NaN
4,2,2019-01-01 00:19:06,2019-01-01 00:39:43,N,1,82,258,1,4.53,18.0,0.5,0.5,0.00,0.0,NaN,0.3,19.30,2,1,NaN

In [ ]:
yellow01 = preview_csv_dataset(bucket='taxinyc', key='yellow2019/yellow_tripdata_2019-01.csv')
yellow02 = preview_csv_dataset(bucket='taxinyc', key='yellow2019/yellow_tripdata_2019-02.csv')
yellow03 = preview_csv_dataset(bucket='taxinyc', key='yellow2019/yellow_tripdata_2019-03.csv')
yellow04 = preview_csv_dataset(bucket='taxinyc', key='yellow2019/yellow_tripdata_2019-04.csv')
yellow05 = preview_csv_dataset(bucket='taxinyc', key='yellow2019/yellow_tripdata_2019-05.csv')
yellow06 = preview_csv_dataset(bucket='taxinyc', key='yellow2019/yellow_tripdata_2019-06.csv')
yellow07 = preview_csv_dataset(bucket='taxinyc', key='yellow2019/yellow_tripdata_2019-07.csv')
yellow08 = preview_csv_dataset(bucket='taxinyc', key='yellow2019/yellow_tripdata_2019-08.csv')
yellow09= preview_csv_dataset(bucket='taxinyc', key='yellow2019/yellow_tripdata_2019-09.csv')
yellow10 = preview_csv_dataset(bucket='taxinyc', key='yellow2019/yellow_tripdata_2019-10.csv')
yellow11 = preview_csv_dataset(bucket='taxinyc', key='yellow2019/yellow_tripdata_2019-11.csv')
yellow12 = preview_csv_dataset(bucket='taxinyc', key='yellow2019/yellow_tripdata_2019-12.csv')

In [44]:
yellow = yellow01.append(yellow02)
yellow= yellow.append(yellow03)
yellow= yellow.append(yellow04)
yellow= yellow.append(yellow05)
yellow= yellow.append(yellow06)
yellow= yellow.append(yellow07)
yellow= yellow.append(yellow08)
yellow= yellow.append(yellow09)
yellow= yellow.append(yellow10)
yellow= yellow.append(yellow11)
yellow= yellow.append(yellow12)

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge
0,1,2019-01-01 00:46:40,2019-01-01 00:53:20,1,1.5,1,N,151,239,1,7.0,0.5,0.5,1.65,0.0,0.3,9.95,NaN
1,1,2019-01-01 00:59:47,2019-01-01 01:18:59,1,2.6,1,N,239,246,1,14.0,0.5,0.5,1.00,0.0,0.3,16.30,NaN
2,2,2018-12-21 13:48:30,2018-12-21 13:52:40,3,0.0,1,N,236,236,1,4.5,0.5,0.5,0.00,0.0,0.3,5.80,NaN
3,2,2018-11-28 15:52:25,2018-11-28 15:55:45,5,0.0,1,N,193,193,2,3.5,0.5,0.5,0.00,0.0,0.3,7.55,NaN
4,2,2018-11-28 15:56:57,2018-11-28 15:58:33,5,0.0,2,N,193,193,2,52.0,0.0,0.5,0.00,0.0,0.3,55.55,NaN

In [ ]:
green.describe()