In [41]:
import boto3
import pandas as pd
import numpy as np
from IPython.display import display, Markdown
import seaborn as sns
%matplotlib inline
import matplotlib.pyplot as plt
import re
from time import sleep

# Read in credentials file
This is a .txt file where I copy the access keys that are provided for me in the Account Details part of AWS classroom. This has not be included in our github repo in order to keep my keys private. The file is read in and the proper information is parsed out and used to connect to AWS Command Line Interface (CLI).


![my_image](images/Screen Shot 2020-04-14 at 2.04.12 PM.png)

In [2]:
key_list = []

with open('/Users/kaegan/Documents/CU Boulder/2Masters/3Spring Semester/3Unstruct Dist Data/aws_credentials/credentials.txt', 'r') as file:
    for line in file:
        key_list.append(line.strip("\n"))

Parse relevant info

In [3]:
access_key_id = re.search('.*=(.*)', key_list[1]).group(1)
secret_access_key = re.search('.*=(.*)', key_list[2]).group(1)
session_token = re.search('.*=(.*=)', key_list[3]).group(1)

In [4]:
# Initialize boto3 client with proper credentials
s3 = boto3.client('s3',
                aws_access_key_id=access_key_id,
                aws_secret_access_key=secret_access_key,
                aws_session_token=session_token,)
glue = boto3.client('glue',
                   aws_access_key_id=access_key_id,
                   aws_secret_access_key=secret_access_key,
                   aws_session_token=session_token,)
athena = boto3.client('athena',
                   aws_access_key_id=access_key_id,
                   aws_secret_access_key=secret_access_key,
                   aws_session_token=session_token,)

In [5]:
def list_glue_databases():
    glue_database = glue.get_databases()

    for db in glue_database['DatabaseList']:
        print(db['Name'])

In [6]:
list_glue_databases()

nycgreenyellow
test_db
yellowdb

In [7]:
def list_glue_tables(database, verbose=True):
    glue_tables = glue.get_tables(DatabaseName=database)
    
    for table in glue_tables['TableList']:
        display(Markdown('**Table: ' + table['Name'] + '**'))
        display(Markdown('Location: ' + table['StorageDescriptor']['Location']))
        created = table['CreatedBy'].split('/')
        display(Markdown('Created by: ' + created[-1]))
        if verbose and created[-1] == 'AWS Crawler':
            display(Markdown(f'Records: {int(table["Parameters"]["recordCount"]):,}'))
            display(Markdown(f'Average Record Size: {table["Parameters"]["averageRecordSize"]} Bytes'))
            display(Markdown(f'Dataset Size: {float(table["Parameters"]["sizeKey"])/1024/1024:3.0f} MB'))
            display(Markdown(f'Crawler: {table["Parameters"]["UPDATED_BY_CRAWLER"]}'))
        if verbose:
            df_columns = pd.DataFrame.from_dict(table["StorageDescriptor"]["Columns"])
            display(df_columns[['Name', 'Type']])
            display(Markdown('---'))

In [9]:
list_glue_tables('yellowdb', verbose=False)

**Table: yellow2019**

Location: s3://la-plata-peak/yellow2019/

Created by: AWS-Crawler

# This was giving the 404 error

In [39]:
# def athena_query(query, bucket, folder):
#     output = 's3://' + bucket + '/' + folder + '/'
#     response = athena.start_query_execution(QueryString=query, 
#                                         ResultConfiguration={'OutputLocation': output})
#     qid = response['QueryExecutionId']
#     response = athena.get_query_execution(QueryExecutionId=qid)
#     state = response['QueryExecution']['Status']['State']
#     while state == 'RUNNING':
#         response = athena.get_query_execution(QueryExecutionId=qid)
#         state = response['QueryExecution']['Status']['State']
#     key = folder + '/' + qid + '.csv'
#     data_source = {'Bucket': bucket, 'Key': key}
#     print(data_source)
#     url = s3.generate_presigned_url(ClientMethod = 'get_object', Params = data_source)
#     print(url)
#     data = pd.read_csv(url)
#     return data

In [40]:
# bucket = 'la-plata-peak'
# folder = 'queries'
# query = 'SELECT * FROM "yellowdb"."yellow2019" TABLESAMPLE BERNOULLI(100) LIMIT 1000;'

# df = athena_query(query, bucket, folder)
# df

# Rewrite function into two parts
Shortly after an s3 object has been created it’ll return a 404 error if it hasn’t been copied across multiple servers yet so I had to break the function up into parts.

### Perform query and save result in query folder of s3 bucket, return the key to the query

In [35]:
def athena_query_key(query, bucket, folder):
    output = 's3://' + bucket + '/' + folder + '/'
    response = athena.start_query_execution(QueryString=query, 
                                        ResultConfiguration={'OutputLocation': output})
    qid = response['QueryExecutionId']
    response = athena.get_query_execution(QueryExecutionId=qid)
    state = response['QueryExecution']['Status']['State']
    while state == 'RUNNING':
        response = athena.get_query_execution(QueryExecutionId=qid)
        state = response['QueryExecution']['Status']['State']
    key = folder + '/' + qid + '.csv'
    return key

In [36]:
bucket = 'la-plata-peak'
folder = 'queries'
query = 'SELECT * FROM "yellowdb"."yellow2019" TABLESAMPLE BERNOULLI(100) LIMIT 1000;'

key = athena_query_key(query, bucket, folder)
key

'queries/f494a488-f312-4cdb-8353-2c7cbbab11ed.csv'

In [ ]:
sleep(10)

## Use key returned above to generate presigned url and access query result

In [37]:
def athena_get_query(bucket, key):
    data_source = {'Bucket': bucket, 'Key': key}
    print(data_source)
    url = s3.generate_presigned_url(ClientMethod = 'get_object', Params = data_source)
    print(url)
    data = pd.read_csv(url)
    return data

In [38]:
df = athena_get_query(bucket, key)
df.head()

{'Bucket': 'la-plata-peak', 'Key': 'queries/f494a488-f312-4cdb-8353-2c7cbbab11ed.csv'}
https://la-plata-peak.s3.amazonaws.com/queries/f494a488-f312-4cdb-8353-2c7cbbab11ed.csv?AWSAccessKeyId=ASIAZU2WEI3JDXG7UO4N&Signature=oqG2DIXnCgWiabwGij2mYoFkNLs%3D&x-amz-security-token=FwoGZXIvYXdzEE0aDFe9zzN01854yKvXcyLIAYT6CkX%2FjMbdA4L5ywzFCwoBIpjqiTLhDgtSnE3FqMQUANXAONEvxLDmmAs2DYaJYpLr7UCcdWx149U3z3oWCMyT7zn8G2LdtCS3PXR69lqEmANRPc1rKxcUjwdq80p26iGLrY%2F5i3Jw3xASRxMpEIBJ8FXIv%2BO2LsKIzSvMi1Yn6osn%2FIXoYB30xK7aW6qVdMmn46jgagq9wLfxhBIH%2FLM2mr629UfJNFSOqREOdHwIc7NhBQnQ7vSrAfZllL53asJWv5K7R2DUKJzTh%2FUFMi3BAVdgkNm0SxxHYDKRmVT2B3BLbJgusPSTrjN2GfGyP%2BfUf8JUhocycKjoGxY%3D&Expires=1587679920

,vendorid,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,ratecodeid,store_and_fwd_flag,pulocationid,dolocationid,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge
0,2,2019-09-12 23:31:57,2019-09-13 00:03:14,1,6.14,1,N,161,256,1,25.5,0.5,0.5,5.86,0.0,0.3,35.16,2.5
1,2,2019-09-12 23:30:45,2019-09-12 23:40:53,1,1.21,1,N,186,164,2,8.0,0.5,0.5,0.00,0.0,0.3,11.80,2.5
2,2,2019-09-12 23:43:58,2019-09-13 00:03:44,5,2.55,1,N,158,4,2,12.5,0.5,0.5,0.00,0.0,0.3,16.30,2.5
3,1,2019-09-12 23:02:30,2019-09-12 23:03:18,1,0.00,2,N,75,75,3,52.0,0.0,0.5,0.00,0.0,0.3,52.80,0.0
4,1,2019-09-12 23:09:16,2019-09-12 23:21:21,1,2.60,1,N,211,170,1,11.0,3.0,0.5,2.95,0.0,0.3,17.75,2.5

# List out Bucket Contents if Necessary

In [ ]:
s3_resource = boto3.resource('s3',
                aws_access_key_id=access_key_id,
                aws_secret_access_key=secret_access_key,
                aws_session_token=session_token,)

In [ ]:
def list_bucket_contents(bucket, match='', size_mb=0):
    bucket_resource = s3_resource.Bucket(bucket)
    total_size_gb = 0
    total_files = 0
    match_size_gb = 0
    match_files = 0
    for key in bucket_resource.objects.all():
        key_size_mb = key.size/1024/1024
        total_size_gb += key_size_mb
        total_files += 1
        list_check = False
        if not match:
            list_check = True
        elif match in key.key:
            list_check = True
        if list_check and not size_mb:
            match_files += 1
            match_size_gb += key_size_mb
            print(f'{key.key} ({key_size_mb:3.0f}MB)')
        elif list_check and key_size_mb <= size_mb:
            match_files += 1
            match_size_gb += key_size_mb
            print(f'{key.key} ({key_size_mb:3.0f}MB)')

    if match:
        print(f'Matched file size is {match_size_gb/1024:3.1f}GB with {match_files} files')            
    
    print(f'Bucket {bucket} total size is {total_size_gb/1024:3.1f}GB with {total_files} files')

In [ ]:
list_bucket_contents(bucket='la-plata-peak', match='2019')