In [1]:
import boto3
import pandas as pd
import numpy as np
from IPython.display import display, Markdown
import seaborn as sns
%matplotlib inline
import matplotlib.pyplot as plt
import re
from time import sleep

# Read in credentials file
This is a .txt file where I copy the access keys that are provided for me in the Account Details part of AWS classroom. This has not be included in our github repo in order to keep my keys private. The file is read in and the proper information is parsed out and used to connect to AWS Command Line Interface (CLI).


![my_image](images/Screen Shot 2020-04-14 at 2.04.12 PM.png)

In [2]:
key_list = []

with open('/Users/kaegan/Documents/CU Boulder/2Masters/3Spring Semester/3Unstruct Dist Data/aws_credentials/credentials.txt', 'r') as file:
    for line in file:
        key_list.append(line.strip("\n"))

Parse relevant info

In [3]:
access_key_id = re.search('.*=(.*)', key_list[1]).group(1)
secret_access_key = re.search('.*=(.*)', key_list[2]).group(1)
session_token = re.search('.*=(.*=)', key_list[3]).group(1)

In [4]:
# Initialize boto3 client with proper credentials
s3 = boto3.client('s3',
                aws_access_key_id=access_key_id,
                aws_secret_access_key=secret_access_key,
                aws_session_token=session_token,)
glue = boto3.client('glue',
                   aws_access_key_id=access_key_id,
                   aws_secret_access_key=secret_access_key,
                   aws_session_token=session_token,)
athena = boto3.client('athena',
                   aws_access_key_id=access_key_id,
                   aws_secret_access_key=secret_access_key,
                   aws_session_token=session_token,)

In [5]:
def list_glue_databases():
    glue_database = glue.get_databases()

    for db in glue_database['DatabaseList']:
        print(db['Name'])

In [6]:
list_glue_databases()

greendb
yellowdb

In [7]:
def list_glue_tables(database, verbose=True):
    glue_tables = glue.get_tables(DatabaseName=database)
    
    for table in glue_tables['TableList']:
        display(Markdown('**Table: ' + table['Name'] + '**'))
        display(Markdown('Location: ' + table['StorageDescriptor']['Location']))
        created = table['CreatedBy'].split('/')
        display(Markdown('Created by: ' + created[-1]))
        if verbose and created[-1] == 'AWS Crawler':
            display(Markdown(f'Records: {int(table["Parameters"]["recordCount"]):,}'))
            display(Markdown(f'Average Record Size: {table["Parameters"]["averageRecordSize"]} Bytes'))
            display(Markdown(f'Dataset Size: {float(table["Parameters"]["sizeKey"])/1024/1024:3.0f} MB'))
            display(Markdown(f'Crawler: {table["Parameters"]["UPDATED_BY_CRAWLER"]}'))
        if verbose:
            df_columns = pd.DataFrame.from_dict(table["StorageDescriptor"]["Columns"])
            display(df_columns[['Name', 'Type']])
            display(Markdown('---'))

In [8]:
list_glue_tables('yellowdb', verbose=False)

**Table: yellow2019**

Location: s3://la-plata-peak/yellow2019/

Created by: AWS-Crawler

In [9]:
list_glue_tables('greendb', verbose=False)

**Table: green2019**

Location: s3://la-plata-peak/green2019/

Created by: AWS-Crawler

# Query Data
Change the folder below to include your name so your results are kept seperate, might even want to do seperate ones for green vs yellow with your name

In [10]:
bucket = 'la-plata-peak'
folder = 'queries' # change this to include your name so your results are kept seperate

### Define functions

In [11]:
def athena_query_key(query, bucket, folder):
    output = 's3://' + bucket + '/' + folder + '/'
    response = athena.start_query_execution(QueryString=query, 
                                        ResultConfiguration={'OutputLocation': output})
    qid = response['QueryExecutionId']
    response = athena.get_query_execution(QueryExecutionId=qid)
    state = response['QueryExecution']['Status']['State']
    while state == 'RUNNING':
        response = athena.get_query_execution(QueryExecutionId=qid)
        state = response['QueryExecution']['Status']['State']
    key = folder + '/' + qid + '.csv'
    return key

In [12]:
def athena_get_query(bucket, key):
    data_source = {'Bucket': bucket, 'Key': key}
    print(data_source)
    url = s3.generate_presigned_url(ClientMethod = 'get_object', Params = data_source)
    print(url)
    data = pd.read_csv(url)
    return data

# Query

### Perform query and save result in query folder of s3 bucket, return the key to the query
In order to query the green taxi table you change FROM "yellowdb"."yellow2019" to FROM "greendb"."green2019"

In [13]:
query = 'SELECT * FROM "yellowdb"."yellow2019" TABLESAMPLE BERNOULLI(100) LIMIT 1000;'

key = athena_query_key(query, bucket, folder)
key

'queries/2e23d230-61e0-4bc6-9738-713711be3a52.csv'

In [14]:
sleep(10) # conservative pause

### Use key returned above to generate presigned url and access query result

In [15]:
df = athena_get_query(bucket, key)
df.head()

{'Bucket': 'la-plata-peak', 'Key': 'queries/2e23d230-61e0-4bc6-9738-713711be3a52.csv'}
https://la-plata-peak.s3.amazonaws.com/queries/2e23d230-61e0-4bc6-9738-713711be3a52.csv?AWSAccessKeyId=ASIAZU2WEI3JLJC2LROR&Signature=1mkeh4OwUL7%2FDeE13xQQiJrvBKs%3D&x-amz-security-token=FwoGZXIvYXdzEJD%2F%2F%2F%2F%2F%2F%2F%2F%2F%2FwEaDH5eSy18z18lpFxLGiLIAUwAvEGplbWKuF6AUZ74P8ocdXWKyO1EcKUlA9nUmlfsOzx%2FQGq%2Bf8T3pDOvBA12H%2FLGTSCoeDZpUzIQdLYFt1HS2bifxzU0vRqif0daCeQwqNmLQwoPxzjUNsLDdMlrQirWI%2BP4zTPyiv6oYm%2BVkPGMsE9L00he7S27SFSL7xQhLNlVj0ObDZ5Gzp8XLIGB6ldIvg84zZEKPokwRtoPus6lDEKN7%2Fog9E7BCZdGl%2FzP5ygnk%2FvPEpjqjg85oVJZc5kRzqZUXRBsKLu%2BlvUFMi3BHd8OH5fFBKu7ex5fxh6UqHQxS4FL%2B1%2BUCgFipKnyqhORLu8gNXd2ZcA80mY%3D&Expires=1587920020

,vendorid,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,ratecodeid,store_and_fwd_flag,pulocationid,dolocationid,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge
0,2,2019-10-21 15:26:11,2019-10-21 15:40:01,1,2.00,1,N,231,4,1,10.5,0.0,0.5,2.76,0.0,0.3,16.56,2.5
1,2,2019-10-21 15:10:32,2019-10-21 15:33:50,6,2.60,1,N,236,233,2,15.5,0.0,0.5,0.00,0.0,0.3,18.80,2.5
2,2,2019-10-21 15:43:38,2019-10-21 15:54:55,6,1.38,1,N,141,162,1,8.5,0.0,0.5,2.36,0.0,0.3,14.16,2.5
3,2,2019-10-21 15:08:29,2019-10-21 15:18:56,1,1.02,1,N,170,164,2,8.0,0.0,0.5,0.00,0.0,0.3,11.30,2.5
4,2,2019-10-21 15:45:19,2019-10-21 16:10:30,1,1.77,1,N,186,233,1,15.5,0.0,0.5,3.76,0.0,0.3,22.56,2.5